# NetMux Configuration
server_mode=false
remote_ip=127.0.0.1
port=5555
boundary_x=1919
boundary_y=0
is_left=true
driver_type=2
group_id=0
group_name=DefaultGroup
session_name=DefaultSession
security_key=
cursor_theme_path=
sel_color_r=0
sel_color_g=120
sel_color_b=215
peer_color_r=255
peer_color_g=0
peer_color_b=0
auto_connect=false
start_minimized=false
display_name=
use_d3d11=true
spatial_mode=true
headless=false
recent_servers=
